{% extends 'base.html.twig' %}

{% block subTitle %}{{ 'title.login' | trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center my-3">
        <div class="col-6">
            {% if error %}
                <div class="text-center text-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('public_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">{{ 'user.email' | trans }}:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">{{ 'user.password' | trans }}:</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>

                {# If you want to control the URL the user is redirected to on success#}
                <input type="hidden" name="_target_path" value="/">

                {# Csrf#}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">{{ 'form.action.login' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
