<div class="card m-3 property{{ endedAt is same as '' ? ' bg-primary' : '' }}" >
    <div class="card-body text-center">
        <h5 class="card-title">{{ tenant }}</h5>
        <div class="row">
            <div class="col-6 fw-bold">{{ 'lease.startedAt' | trans }}:</div>
            <div class="col-6 ">{{ startedAt }}:</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 fw-bold">{{ 'lease.endedAt' | trans }}:</div>
            <div class="col-6 ">{{ endedAt }}:</div>
        </div>
            <div class="row {{ endedAt is same as '' ? 'justify-content-between' : 'justify-content-center' }}">
                {% if endedAt is same as '' %}
                <div class="col-2">
                    <a href="{{ path('user_lease_end', {id: id}) }}" class="card-link text-bg-primary"><i class="fas fa-times-circle"></i></a>
                </div>
                {% endif %}
                <div class="col-2">
                    <a href="{{ path('user_lease_show', {id: id}) }}" class="card-link{{ endedAt is same as '' ? ' text-bg-primary' : '' }}"><i class="far fa-eye"></i></a>
                </div>
                {% if endedAt is same as '' %}
                <div class="col-2">
                    <a href="{{ path('user_lease_payment', {id: id}) }}" target="_blank" class="card-link text-bg-primary"><i class="fas fa-money-bill-wave"></i></a>
                </div>
                {% endif %}
            </div>
    </div>
</div>
